<%- include("head") %> 

<body style="font-family: 'Inter', 'Noto Sans Thai', sans-serif;" class="bg-[#F7F5F5]">
    <div>
        <%- include("navbar") %>
    </div>

    <div class="mt-[40px]">
        <form action="/search" method="GET" class="flex justify-center mt-4">
            <div class="relative w-[800px]">
                <input type="text" name="q" placeholder="ค้นหาสินค้า"
                    class="w-[800px] h-[40px] rounded-full border border-gray-300 pl-5 pr-12 outline-none bg-gray-100">

                <button type="submit" class="absolute right-4 top-1/2 -translate-y-1/2">
                    <img src="/img/customer/search.png" class="w-[20px]">
                </button>
            </div>
        </form>
    </div>

    <div class="flex text-center justify-center mt-[55px]">
        <div class="category w-[94px] mr-[82px] cursor-pointer">
            <a href="/customer/shop?category=SH">
                <img src="/img/customer/หมวดเสื้อ.png" class="rounded-full hover:scale-105 transition duration-200">
            </a>
            <div class="mt-[15px]">
                <p>เสื้อ</p>
            </div>
        </div>

        <div class="category w-[94px] mr-[82px] cursor-pointer">
            <a href="/customer/shop?category=CT">
                <img src="/img/customer/หมวดเสื้อแขนยาว.png"
                    class="rounded-full hover:scale-105 transition duration-200">
            </a>
            <div class="mt-[15px]">
                <p>เสื้อแขนยาว</p>
            </div>
        </div>

        <div class="category w-[94px] mr-[82px] cursor-pointer">
            <a href="/customer/shop?category=PN">
                <img src="/img/customer/หมวดกางเกง.png" class="rounded-full hover:scale-105 transition duration-200">
            </a>
            <div class="mt-[15px]">
                <p>กางเกง</p>
            </div>
        </div>

        <div class="category w-[94px] mr-[82px] cursor-pointer">
            <a href="/customer/shop?category=SK">
                <img src="/img/customer/หมวดกระโปรง.png" class="rounded-full hover:scale-105 transition duration-200">
            </a>
            <div class="mt-[15px]">
                <p>กระโปรง</p>
            </div>
        </div>

        <div class="category w-[94px] mr-[82px] cursor-pointer">
            <a href="/customer/shop?category=DR">
                <img src="/img/customer/หมวดเดรส.png" class="rounded-full hover:scale-105 transition duration-200">
            </a>
            <div class="mt-[15px]">
                <p>เดรส</p>
            </div>
        </div>

        <div class="category w-[94px] mr-[82px] cursor-pointer">
            <a href="/customer/shop?category=UW">
                <img src="/img/customer/หมวดชุดชั้นใน.png" class="rounded-full hover:scale-105 transition duration-200">
            </a>
            <div class="mt-[15px]">
                <p>ชุดชั้นใน</p>
            </div>
        </div>
    </div>

    <div>
        <hr class="mx-[200px] mt-[50px] border-gray-300">
    </div>

    
    <div class="grid grid-cols-3 gap-[20px] mx-[60px] mt-[40px]">
        <% products.forEach(product=> { %>
            <div class="flex justify-center">
                <a href="/customer/detail/<%= product.id %>" class="block w-fit">

                    <div class="product-card w-[326px] mx-5 flex-shrink-0 bg-white rounded-2xl shadow-[0_8px_20px_rgba(0,0,0,0.08)] p-2">

                        <div class="flex justify-center items-center">
                            <div class="bg-white w-[284px] h-[230px] rounded-[12px] flex justify-center items-center shadow-[0_6px_20px_rgba(0,0,0,0.15)] mt-[18px]">
                                <img src="/uploads/<%= product.image %>" class="w-[212px] object-contain">
                            </div>
                        </div>


                        <div class="flex flex-col">
                            <p class="ml-[28px] mt-[19px]">
                                <%= product.name %>
                            </p>

                            <div class="flex mt-[10px]">
                                <h2 class="ml-[28px] mr-[200px]">฿<%= product.price %></h2>
                                <img src="/img/home/cart.png" class="w-[26.65px]">
                            </div>
                        </div>

                    </div>
                </a>
            </div>
            <% }) %>
        </div>


</body>

</html>